#Nome {font-family: Georgia; text-align: center; margin-bottom: 2mm;}
#brinks {font-family: Courier New; text-align: center; margin-top: 1mm;}
#d {font-family: Helvetica; text-align: center;}
#ft {width: 400px;display: block; margin-right: 0%;}
#ftb {width: 800px; display: block; margin-left: 40%; margin-top: -50%;}
#eu {margin-left: 60%;}
#music {margin-top: -740; margin-left: 1060; width:250;}